---
import { Image } from "astro:assets";
import { switchLangHref, type Locale } from "../i18n/config";
import { LANGUAGES } from "../i18n/config";

const languages = LANGUAGES.filter((lang) => lang !== Astro.locals.locale);
const pathname = Astro.url.pathname.replace(/^\/|\/$/g, "");
const switchLang = (lang: Locale) => switchLangHref({ slug: pathname }, lang);
---

<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="px-4 cursor-pointer">
    <Image
      src={`/flags/${Astro.locals.locale}.svg`}
      alt={Astro.locals.locale}
      class="rounded-full"
      width={24}
      height={24}
    />
  </div>
  <ul
    id="language-menu"
    tabindex="-1"
    class="dropdown-content bg-gray-100 dark:bg-gray-800 rounded-box z-1 mt-3 w-52 p-1"
  >
    {
      languages.map((lang) => (
        <li class="m-1">
          <a
            href={switchLang(lang)}
            data-lang={lang}
            class="flex gap-3 hover:bg-gray-200 p-2 dark:hover:bg-gray-700 active:bg-gray-200 p-2 dark:active:bg-gray-700 rounded-box"
          >
            <Image
              src={`/flags/${lang}.svg`}
              alt={lang}
              width={24}
              height={24}
            />
            {Astro.locals.t(`common.languages.${lang}`)}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<script>
  import { SETTINGS_ACTION_TYPES } from "../types/Settings";
  import { postMessageToWorker } from "../utils/workers";

  const links = document.querySelectorAll<HTMLLinkElement>("#language-menu a");

  links.forEach((elem) => {
    elem.addEventListener("click", (event) => {
      const target = event.target as HTMLAnchorElement;

      postMessageToWorker({
        type: SETTINGS_ACTION_TYPES.SET_LANGUAGE,
        value: target.dataset.lang,
      });
    });
  });
</script>
