---
import { MENU, type RouteKey } from "../constants/routes";
import { getPathInfo, getRoutePath } from "../i18n/config";
import LogoIcon from "../assets/icons/logo.svg";
import { Icon } from "astro-icon/components";

const iconsMap: Record<string, string> = {
  home: "home-filled",
  projects: "package",
  resume: "brand-bitbucket",
  contact: "address-book",
  default: "link",
};
type Link = { href: RouteKey; label: string; icon: string; disabled: boolean };
const links: Link[] = Object.keys(MENU).map((key) => ({
  href: key as RouteKey,
  label: Astro.locals.t(`common.nav.${key}`),
  icon: iconsMap[key] || iconsMap.default,
  disabled: ["projects"].includes(key),
}));

const { slug } = getPathInfo(Astro.url.pathname);
const { isMobile = false } = Astro.props;
---

{
  !isMobile && (
    <ul class="hidden lg:flex">
      {links.map(({ href, label, disabled }, idx) => (
        <>
          <li>
            {disabled ? (
              <span class="text-base text-gray-400 relative p-2 dark:text-gray-300 dark:hover:text-white">
                {label}
                <small class="absolute top-[24px] inset-0 m-auto text-center">
                  ({Astro.locals.t("common.soon")})
                </small>
              </span>
            ) : (
              <a
                href={getRoutePath(href, Astro.locals.locale)}
                class={
                  (slug === href ? "underline " : "") +
                  `text-base text-gray-700 hover:underline underline-offset-5 dark:text-gray-300 dark:hover:text-white cursor-pointer p-2`
                }
              >
                {label}
              </a>
            )}
          </li>
          {idx < links.length - 1 && (
            <span class="px-1 text-black dark:text-white">|</span>
          )}
        </>
      ))}
    </ul>
  )
}

{
  isMobile && (
    <div>
      <input id="drawer-menu" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label for="drawer-menu" class="flex p-5">
          <Icon name="tabler:menu-2" class="w-[24px] h-[24px]" />
        </label>
      </div>
      <div class="drawer-side">
        <label
          for="drawer-menu"
          aria-label="close sidebar"
          class="drawer-overlay"
        />

        <div class="flex flex-col bg-base-200 min-h-full w-80 p-4">
          <label for="drawer-menu" class="absolute right-4 top-4">
            <Icon name="tabler:x" class="w-[24px] h-[24px]" />
          </label>

          <ul class="flex-1">
            {links.map(({ href, label, icon, disabled }) => (
              <>
                <li>
                  {disabled ? (
                    <span class="flex items-center text-base text-gray-400 relative p-2 dark:text-gray-300 dark:hover:text-white gap-2">
                      <Icon name={"tabler:" + icon} />
                      {label}
                      <small>({Astro.locals.t("common.soon")})</small>
                    </span>
                  ) : (
                    <a
                      href={getRoutePath(href, Astro.locals.locale)}
                      class={
                        (slug === href ? "underline " : "") +
                        `text-base text-gray-600 hover:underline underline-offset-5 dark:text-gray-300 dark:active:text-white cursor-pointer p-2 gap-2 flex items-center`
                      }
                    >
                      <Icon name={"tabler:" + icon} />
                      {label}
                    </a>
                  )}
                </li>
              </>
            ))}
          </ul>
          <slot />
          <div class="flex gap-4 mb-4">
            <LogoIcon
              width="40px"
              height="40px"
              class="fill-gray-600 dark:fill-gray-100"
            />
            <div class="flex flex-col">
              <p>{Astro.locals.t("common.fullName")}</p>
              <small>{Astro.locals.t("common.position")}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  )
}
